@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
            @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Wystąpił nieoczekiwany błąd.
    <a href="." class="reload">Odśwież</a>
    <span class="dismiss">🗙</span>
</div>
