<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Utracono połączenie z serwerem, trwa próba nawiązania komunikacji...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Próba nawiązania połączenia nie powiodła się... następna próba za <span id="components-seconds-to-next-attempt"></span> sekund.
        </p>
        <p class="components-reconnect-failed-visible">
            Nie udało się nawiązać połączenia.<br />Spróbuj ponownie lub odśwież stronę.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Spróbuj ponownie
        </button>
        <p class="components-pause-visible">
            Sesja została wstrzymana przez serwer.
        </p>
        <p class="components-resume-failed-visible">
            Nie udało się wznowić sesji.<br />Spróbuj ponownie lub odśwież stronę.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Wznów
        </button>
    </div>
</dialog>
